*.env
*.ipynb
*.egg-info
*.pyc
backend/__pycache__/
*.pyo
*.pyd
*.venv
*.key
backend/keystores/
**notes.txt
/notes
backend/notes/
repo.json
*.db
*.txt
frontend/
demos/frontend_demo.mp4
repo.json
contracts/lib/
contracts/build/
contracts/cache/
backend/cache/
contracts/IDEAS.md
backend/solidity/
backend/abi/
docker-compose.yml