services:
  db:
    image: postgres:15-alpine
    container_name: escrow-bridge-db
    environment:
      POSTGRES_USER: escrow_bridge
      POSTGRES_PASSWORD: hljkdftiym4356gbvq1913*$%&
      POSTGRES_DB: escrow_bridge
    volumes:
      - escrow_db_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U escrow_bridge -d escrow_bridge"]
      interval: 5s
      timeout: 5s
      retries: 5

  escrow-bridge-listener:
    # build: .
    image: brandynham/escrow-bridge-listener:latest
    container_name: escrow-bridge-listener
    env_file:
      - deploy.env
    environment:
      DATABASE_URL: postgresql://escrow_bridge:hljkdftiym4356gbvq1913*$%&@db:5432/escrow_bridge
    ports:
      - "4284:4284"
    depends_on:
      db:
        condition: service_healthy

volumes:
  escrow_db_data:
